@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
<style type="text/css">
    .addnews_btn {
        text-align: right;
        line-height: 40px
    }

        .addnews_btn i {
            margin-right: 5px
        }

    .box_w {
        position: absolute;
        width: 100%;
        min-height: 100%;
        height: auto;
        background: #f8f8f9
    }

    .news-pic-l {
        height: 150px;
        float: left;
        text-align: center;
        width: 220px
    }

    .newsico {
        padding-right: 5px;
        color: #666;
        font-size: 6px
    }

    .more {
        text-align: right
    }

        .more a {
            margin-right: 5px;
            color: #666666
        }

    .news li {
        line-height: 35px;
        margin-bottom: 10px
    }

        .news li a:hover {
            color: #1890ff
        }

    .titfont {
        font-size: 16px;
        font-weight: 400
    }

    .news-pic-l {
        height: 150px;
        float: left;
        text-align: center;
        width: 260px
    }

    .tit_c {
        color: #333;
        font-size: 18px
    }

    .tit_n {
        line-height: 25px;
        font-size: 14px;
        color: #666
    }

        .tit_n a {
            color: #666
        }

    .tit_t {
        font-size: 12px;
        color: #666
    }

        .tit_t span {
            margin-right: 3px;
            color: #666
        }

    .newsbtn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 32px;
        line-height: 32px;
        padding: 0 15px;
        font-size: 14px;
        border-radius: 4px;
        transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
        color: #fff;
        background-color: #36D8A6;
        border-color: #36D8A6;
        margin-left: 5px
    }

        .newsbtn:hover {
            color: #fff
        }

    .layuithis {
        border-bottom: solid 2px #2d8cf0
    }

    .news-pic-l img {
        width: 120px;
        height: 120px
    }

    .page {
        text-align: center;
        position: absolute;
        margin-bottom: 0;
        width: 95%;
        margin: 0 auto
    }

    .newsbtn i {
        margin-right: 3px
    }

    .layuipage {
        width: 100%;
        position: inherit;
        bottom: 0;
        text-align: center
    }

    .search {
        width: 100%;
        padding-top: 100px;
        text-align: center
    }

    .layui-input, .layui-select, .layui-textarea {
        width: 400px;
        height: 44px;
        line-height: 44px
    }

    .layui-btn {
        height: 44px;
        line-height: 44px;
        width: 90px
    }

    .serch_num {
        line-height: 50px
    }

    .num {
        color: #ed4014
    }

    .high {
        color: red
    }
</style>
<div class="box_w">
    <div class="search">
        <div class="layui-input-inline">
            <input id="search" type="text" name="title" required lay-verify="required" placeholder="请输入要搜索的内容" autocomplete="off" class="layui-input" value="@ViewBag.Search">
        </div>
        <div class="layui-input-inline">
            <button class="layui-btn search_btn layui-btn-small" onclick="Query();"><i class="layui-icon  layui-icon-search layui-icon-small"></i>搜索</button>
        </div>
        <div class="serch_num">
            <span>共找到</span> <span class="num">@ViewBag.COUNT</span>  <span>条数据</span>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-main">
            <div class="divNewsList">
                <div class="layui-panel">
                    <div class="layui-card-body">
                        <ul class="news">
                            @if (ViewBag.TABLE != null)
                            {
                                foreach (var row in ViewBag.TABLE.Rows)
                                {
                                    var createtime = Convert.ToDateTime(row["CREATE_TIME"]).ToString("yyyy-MM-dd");
                                    var file = ViewBag.FILE[Convert.ToInt32(row["ID"])];
                                    <li>
                                        <div class="layui-row newContent" data-content-reg="@row["CONTENT_REG"]" data-content="@row["CONTENT"]">
                                            <div class="news-pic-l">
                                                <a href="../AjtmFileManage/Read?id=@row["ID"]" target="_blank"><img class="loadimg" src="../Content/images/FILE.jpeg" onerror="javascript:this.src='../Content/images/FILE.jpeg';" title="@row["TITLE"]" style=""></a>
                                            </div>
                                            <div class="con_m">
                                                <div><a href="../AjtmFileManage/Read?id=@row["ID"]" target="_blank" class="tit_c SeacrhTitle">@row["TITLE"]</a></div>
                                                <div class="tit_t">
                                                    <span>创建时间:</span><span style="margin-right:100px">@createtime</span>
                                                    @foreach (var fdr in file.Rows)
                                                    {
                                                        <a  data-type="@fdr["FILE_TYPE"]" href='../AjtmFileManage/Download?id=@fdr["ID"]' target="_blank" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-radius FileLoad" style="height:20px;line-height:20px">@fdr["NAME"]</a>
                                                    }
                                                </div>
                                                <div class="tit_n">
                                                    <a class="NContent SeacrhContent" href="../AjtmFileManage/Read?id=@row["ID"]" target="_blank">
                                                        描述
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <input hidden="hidden" id="newtypePage" />
            <input hidden="hidden" id="newtypePageIndex" value="1" />
            <div class="layuipage" id="page"></div>
        </div>


    </div>
</div>
<script type="text/javascript">
    layui.use(['carousel', 'form', 'element', 'laypage'], function () {
        var carousel = layui.carousel, form = layui.form, element = layui.element, laypage = layui.laypage;

        //常规轮播
        carousel.render({
            elem: '#loopplay'
            , arrow: 'always'
        });

        laypage.render({
            elem: 'page',//注意，这里的 test1 是 ID，不用加 # 号
            count: @ViewBag.COUNT, //数据总数，从服务端得到
            limit: @ViewBag.PAGE_SIZE,
            curr:@ViewBag.PAGE_INDEX,
            jump: function (obj, first) {
                if (obj.curr != '@ViewBag.PAGE_INDEX') {
                    pageChange(obj.curr);
                }
            }
        });
    });

    function Query() {

        var search = document.getElementById("search").value;
        var url = "../AjtmFileManage/List?search=" + search;
        window.location.href = url;
    }

    function pageChange(pageindex) {
        var type = document.getElementById("InfoType").value;
        var search = document.getElementById("search").value;
        var url = "../AjtmFileManage/List?search=" + search + "&pageIndex=" + pageindex;
        window.location.href = url;
    }


    if ('@ViewBag.Search'.length > 0) {
        var search = '@ViewBag.Search';
        var html = $(".SeacrhTitle").html();
        $(".SeacrhTitle").each(function (i, e) {
            var html = $(e).html();
            $(e).html(searchByKey(search, html));
        }); 
    }

    function searchByKey(search, html) {
        if (html.indexOf(search) > -1) {
            var index = html.indexOf(search);
            var search1 = [
                "<span style='color:red;font-weight:bold'>",
                html.substr(index, search.length),
                "</span>"
            ].join("");
            html = html.replace(search, search1);
            return html;
        }
        return html;
    }

    //获取内容首张图片
    function imgUrlFun(content) {
        var data = '';
        content.replace(/<img [^>]*src=['"]([^'"]+)[^>]*>/, function (match, capture) {
            data = capture;
        });
        if (!data) data = "../Content/images/none.png";
        else {
            data = data.replace(/&amp;/g, '&');
        }
        return data
    }
    //$(".loadimg").each(function (i, e) {
    //    var content = $(e).closest(".newContent");
    //    var imgurl = imgUrlFun(content.attr("data-content"));
    //    $(e).attr("src", imgurl);
    //})
    $(function () {
        setTimeout(function () {
            $(".layui-laypage-prev").html("上一页")
        },1000);
    });
    function newContentFindFile(newContent) {
        var zflle = newContent.find(".FileLoad");
        if (zflle && zflle.length > 0) {
            var zes = zflle.eq(0);
            var dataType = zes.attr("data-type");
            if ('xls,xlsx,xlsm,xlst'.indexOf(dataType) > -1) {
                newContent.find(".loadimg").attr("src", "../Content/images/XLSX.jpeg");
                return;
            }
            if ('doc,docx,dot,docm'.indexOf(dataType) > -1) {
                newContent.find(".loadimg").attr("src", "../Content/images/WORD.jpeg");
                return;
            }
            if ("pdf".indexOf(dataType) > -1) {
                newContent.find(".loadimg").attr("src", "../Content/images/PDF.jpeg");
                return;
            }
            newContent.find(".loadimg").attr("src", "../Content/images/FILE.jpeg");
        }
    }

    $(".NContent").each(function (i, e) {
        var content = $(e).closest(".newContent");
        var con = ContentFunc(content.attr("data-content-reg"));
        console.log(con);
        //
        var search = '@ViewBag.Search';
        if (con.indexOf(search) < -1 || search == "") {
            con = con.length > 100 ? con.substr(0, 100) : con;
            
        } else {
            var index = con.indexOf(search);
            var begindex = index > 50 ? index - 50 : 0;
            //
            var TLength = 120 - begindex;
            TLength = TLength > con.length? con.length: TLength;
            //
            var endIndex = index + search.length;
            endLength = TLength - endIndex;
            //
            var begin = con.substr(begindex, index);
            var end = con.substr(endIndex, endLength);
            var search = [
                "<span style='color:red;font-weight:bold'>",
                con.substr(index, search.length),
                "</span>"
            ].join("");
            console.log(begin, search, end);
            con = begin + search + end;
        }
        con = con + "...";
        $(e).html(con);

        newContentFindFile(content);
    });

    //获取内容简介
    function ContentFunc(tcontent) {
        var content = tcontent;
        content = content.replace(/<\/?[^>]*>/g, ''); //去除HTML tag
        content = content.replace(/[ | ]*\n/g, '\n'); //去除行尾空白
        content = content.replace(/ /ig, '');//去掉

        return content;
    }
</script>