@model CS.WebUI.Controllers.Model.AsPersonnel
@{
    Layout = "~/Views/Shared/_Content.cshtml";
    //
    var Typelist = ViewBag.LeaderType as List<CS.BLL.Model.AJTM_LEADER_TYPE.Entity>;
}
<form id="form" class="layui-form" action="" method="post">
    <script src="~/Content/FW/LayuiZtree.js?v=20210610"></script>
    <input hidden="hidden" id="Unit" name="Unit" value="@ViewBag.Unit" />
    <input hidden="hidden" id="SetupLevel" name="SetupLevel" value="@ViewBag.SetupLevel" />
    <input hidden="hidden" id="Leader" name="Leader" value="" />
    <input hidden="hidden" id="LeaderTypeUnit" name="LeaderTypeUnit" value="" />
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>选择单位</legend>
    </fieldset>
    <div class="layui-form-item" id="LeaderStart">
        <div class="layui-inline">
            <label class="layui-form-label">编制单位</label>
            <div class="layui-input-inline">
                <input hidden="hidden" name="UNIT_NAME" id="UNIT_NAME" value="" />
                <input type="text" name="UNIT_ID" id="UNIT_ID" value="">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">主管单位</label>
            <div class="layui-input-inline">
                <input hidden="hidden" name="UNIT_PARENT_ID" id="UNIT_PARENT_ID" value="" />
                <input type="text" name="UNIT_PARENT" id="UNIT_PARENT" value="" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>领导信息操作</legend>
    </fieldset>
    <div class="layui-row">
        @foreach (var item in Typelist)
        {
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4" style="margin-top:10px">
                <label class="layui-form-label">@item.NAME</label>
                <div class="layui-input-inline">
                    <input type="text" data-index="@item.ID" data-text="@item.NAME" value="" autocomplete="off" class="layui-input inputLeaderType">
                </div>
            </div>
        }
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4" style="margin-top:10px">
            <button type="button" id="btnInit" class="layui-btn">初始化数量</button>
        </div>
    </div>
    <div id="LeaderInfo">

    </div>
    <div class="form-bottom-submit" style="text-align:right;">
        <input type="hidden" id="msg" value="@ViewBag.Message" />
        <div class="layui-inline">
            <button type="button" class="layui-btn" onclick="save();">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="CloseForm();">关闭</button>
        </div>
    </div>
</form>
<script src="~/Views/AjtmLeaderUnit/JS/Index.js?v=20210614"></script>