@{
    Layout = "~/Views/Shared/_Content.cshtml";
    var AsApplyList = ViewBag.AsApply as List<CS.BLL.Model.AJTM_AS_APPLY.Entity>;
}
<form id="form" class="layui-form" action="" method="post">
    <input hidden="hidden" name="IDS" id="IDS" lay-verify="required |ids" />
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>市纪委派驻纪检组</legend>
    </fieldset>
    <div class="layui-form-item">
        <table class="layui-table" lay-even style="margin:0 auto;width:80%">
            <colgroup>
                <col width="50">
                <col width="260">
                <col width="260">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
                <tr>
                    <th style="text-align:center">
                        <input type="checkbox" name="checkAll" id="checkAll" style="width:18px;height:18px" lay-ignore />
                    </th>
                    <th>用编单位</th>
                    <th>主管单位</th>
                    <th>来文时间</th>
                    <th>申报数</th>
                    <th>是否年度用编</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                </tr>
            </thead>
            <tbody id="AsApplyTbody">
                @foreach (var item in AsApplyList)
                {
                    string isYear = item.IS_YEAR == 0 ? "否" : "是";
                    <text>
                        <tr>
                            <td style="text-align:center">
                                <input type="checkbox" name="AsApplyCheck" data-id="@item.ID" style="width:18px;height:18px" lay-ignore />
                            </td>
                            <td>@item.UNIT_NAME</td>
                            <td>@item.UNIT_PARENT</td>
                            <td>@item.APPLY_TIME</td>
                            <td>@item.APPLY_NUM</td>
                            <td>@isYear</td>
                            <td>@item.ACCOUNT_PEOPLE</td>
                            <td>@item.ACCOUNT_PHONE</td>
                        </tr>
                    </text>
                }
            </tbody>
        </table>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>审议表</legend>
    </fieldset>
    <div class="layui-form-item" id="LeaderStart">
        <div class="layui-inline">
            <label class="layui-form-label">审议表名</label>
            <div class="layui-input-inline">
                <input type="text" name="NAME" id="NAME" value="@ViewBag.NAME" autocomplete="off" lay-verify="required |name" class="layui-input">
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>审议表信息(非必填)</legend>
    </fieldset>
    <div class="layui-form-item" id="LeaderStart">
        <div class="layui-inline">
            <label class="layui-form-label">xls时间</label>
            <div class="layui-input-inline">
                <input type="text" name="xTime" id="xTime" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">数据审核</label>
            <div class="layui-input-inline">
                <input type="text" name="xApprove" id="xApprove" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="LeaderStart">
        <div class="layui-inline">
            <label class="layui-form-label">经办人</label>
            <div class="layui-input-inline">
                <input type="text" name="xDeal" id="xDeal" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="form-bottom-submit" style="text-align:right;">
        <input type="hidden" id="msg" value="@ViewBag.Message" />
        <div class="layui-inline">
            <button type="button" class="layui-btn" onclick="save();">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="CloseForm();">关闭</button>
        </div>
    </div>
</form>
<script src="~/Views/AjtmConsideration/JS/Index.js?v=20210514"></script>