@model CS.WebUI.Controllers.Model.Unit
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
<form id="form" class="layui-form" action="" method="post">
    <script src="~/Content/FW/LayuiZtree.js?v=20210609"></script>
    <input hidden="hidden" value="@ViewBag.AsType" id="AsType" />
    <input hidden="hidden" value="@ViewBag.Unit" id="Unit" />
    <input hidden="hidden" value="@Model.AsUnitJson" id="AsUnitJson" name="AsUnitJson" />
    <input hidden="hidden" value="@Model.ID" id="ID" name="ID" />
    <input hidden="hidden" value="@Model.LeaderUnit" id="LeaderUnit" name="LeaderUnit" />
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>单位基本信息</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">单位名称</label>
            <div class="layui-input-inline">
                <input type="text" name="NAME" value="@Model.NAME" lay-verify="required|name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">主管单位(上级)</label>
            <div class="layui-input-inline">
                <input type="text" name="PARENT_ID" id="PARENT_ID" value="@Model.PARENT_ID">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">机构类别</label>
            <div class="layui-input-inline">
                <select name="SETUP_TYPE_ID" lay-verify="required">
                    <option value=""></option>
                    @foreach (var item in ViewBag.SetupType)
                    {
                        if (Model.SETUP_TYPE_ID == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">机构性质</label>
            <div class="layui-input-inline">
                <select name="SETUP_NATRUE_ID" lay-verify="required">
                    <option value=""></option>
                    @foreach (var item in ViewBag.SetupNature)
                    {
                        if (Model.SETUP_NATRUE_ID == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">机构级别</label>
            <div class="layui-input-inline">
                <select name="SETUP_LEVEL_ID" lay-verify="required">
                    <option value=""></option>
                    @foreach (var item in ViewBag.SetupLevel)
                    {
                        if (Model.SETUP_LEVEL_ID == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">经费形式</label>
            <div class="layui-input-inline">
                <select name="OUTLAY_MODE_ID" lay-verify="required">
                    <option value=""></option>
                    @foreach (var item in ViewBag.OutLayMode)
                    {
                        if (Model.OUTLAY_MODE_ID == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">机构划属(行政群团事业)</label>
            <div class="layui-input-inline">
                <select name="SETUP_RANGE_ID" lay-verify="required">
                    <option value=""></option>
                    @foreach (var item in ViewBag.SetupRange)
                    {
                        if (Model.SETUP_RANGE_ID == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">是否参公</label>
            <div class="layui-input-inline">
                @{
                    Dictionary<int, string> dic = new Dictionary<int, string>();
                    dic.Add(0, "否");
                    dic.Add(1, "是");
                }
                <select name="IS_PUBLIC" lay-verify="required">
                    @foreach (var item in dic)
                    {
                        if (Model.IS_PUBLIC == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">内设机构数</label>
            <div class="layui-input-inline">
                <input type="tel" name="DEP_NUM" value="@Model.DEP_NUM" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">其他预留数</label>
            <div class="layui-input-inline">
                <input type="tel" name="RESERVE_NUM" value="@Model.RESERVE_NUM" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>单位编制信息</legend>
    </fieldset>
    <div class="layui-form-item">
        <table class="layui-table" style="margin:0 auto; width:80%">
            <colgroup>
                <col width="200">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
                <tr>
                    <th>编制类型</th>
                    <th>核定数</th>
                    <th>期初数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="AsUnit"></tbody>
        </table>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>领导职数</legend>
    </fieldset>
    <div class="layui-form-item">
        @foreach (var item in ViewBag.LeaderType)
        {
            <div class="layui-inline">
                <label class="layui-form-label">@item.NAME</label>
                <div class="layui-input-inline">
                    <input type="tel" value="" data-key="@item.ID" autocomplete="off" class="layui-input BenLeaderType BenInputNumber">
                </div>
            </div>
        } <div class="layui-inline">
            <label class="layui-form-label">内设机构领导正职</label>
            <div class="layui-input-inline">
                <input type="tel" name="WITHIN_MAIN_NUM" value="@Model.WITHIN_MAIN_NUM" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">内设机构领导副职</label>
            <div class="layui-input-inline">
                <input type="text" name="WITHIN_VICE_NUM" value="@Model.WITHIN_VICE_NUM" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门其他工作机构领导</label>
            <div class="layui-input-inline">
                <input type="text" name="OTHER_NUM" value="@Model.OTHER_NUM" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>

    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>领导职级</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">厅局级正职</label>
            <div class="layui-input-inline">
                <input type="tel" name="OFFICE_MIAN_NUM" value="@Model.OFFICE_MIAN_NUM" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">厅局级副职</label>
            <div class="layui-input-inline">
                <input type="text" name="OFFICE_VICE_NUM" value="@Model.OFFICE_VICE_NUM" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">县处级正职</label>
            <div class="layui-input-inline">
                <input type="text" name="COUNTY_MIAN_L" value="@Model.COUNTY_MIAN_L" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">县处级副职</label>
            <div class="layui-input-inline">
                <input type="tel" name="COUNTY_VICE_L" value="@Model.COUNTY_VICE_L" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">乡科级正职</label>
            <div class="layui-input-inline">
                <input type="text" name="VILLAGE_MIAN_L" value="@Model.VILLAGE_MIAN_L" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">乡科级副职</label>
            <div class="layui-input-inline">
                <input type="text" name="VILLAGE_VICE_L" value="@Model.VILLAGE_VICE_L" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>中层职级</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">县处级正职</label>
            <div class="layui-input-inline">
                <input type="tel" name="COUNTY_MIAN_MR" value="@Model.COUNTY_MIAN_MR" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">县处级副职</label>
            <div class="layui-input-inline">
                <input type="text" name="COUNTY_VICE_MR" value="@Model.COUNTY_VICE_MR" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">乡科级副职</label>
            <div class="layui-input-inline">
                <input type="text" name="VILLAGE_MIAN_MR" value="@Model.VILLAGE_MIAN_MR" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">乡科级正职</label>
            <div class="layui-input-inline">
                <input type="tel" name="VILLAGE_VICE_MR" value="@Model.VILLAGE_VICE_MR" autocomplete="off" class="layui-input BenInputNumber">
            </div>
        </div>
    </div>
</form>
<div class="form-bottom-submit" style="text-align:center;margin:30px 0">
    <input type="hidden" id="msg" value="@ViewBag.Message" />
    <div class="layui-inline">
        <button type="button" class="layui-btn" onclick="save();">确定</button>
        <button type="reset" class="layui-btn layui-btn-primary" onclick="CloseForm();">关闭</button>
    </div>
</div>
<script src="~/Views/AjtmUnit/JS/Edit.js?v=20210510"></script>