@model CS.WebUI.Controllers.Model.AsApply
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
<form id="form" class="layui-form" action="" method="post">
    <script src="~/Content/FW/LayuiZtree.js?v=20210609"></script>
    <input hidden="hidden" id="AsApplyDetailJson" name="AsApplyDetailJson" value="@Model.AsApplyDetailJson" />
    <input hidden="hidden" id="AsType" name="AsType" value="@ViewBag.AsType" />
    <input hidden="hidden" id="Unit" name="Unit" value="@ViewBag.Unit" />
    <input hidden="hidden" id="ID" name="ID" value="@Model.ID" />
    <input hidden="hidden" id="AsPurpose" name="AsPurpose" value="@ViewBag.AsPurpose" />
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>单位基本信息</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用编单位(必填)</label>
            <div class="layui-input-inline">
                <input hidden="hidden" name="UNIT_NAME" id="UNIT_NAME" value="@Model.UNIT_NAME" />
                <input type="text" name="UNIT_ID" id="UNIT_ID" value="@Model.UNIT_ID">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">申报单位(必填)</label>
            <div class="layui-input-inline">
                <input hidden="hidden" name="UNIT_PARENT_ID" id="UNIT_PARENT_ID" value="@Model.UNIT_PARENT" />
                <input type="text" name="UNIT_PARENT" id="UNIT_PARENT" value="@Model.UNIT_PARENT" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">申报文号</label>
            <div class="layui-input-inline">
                <input type="tel" name="APPLY_FILE_NO" value='@Model.APPLY_FILE_NO' id="APPLY_FILE_NO" lay-verify="required |ApplyTime" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">来文文件名(必填)</label>
            <div class="layui-input-inline">
                <input type="tel" name="APPLY_FILE" value='@Model.APPLY_FILE' id="APPLY_FILE" lay-verify="required |ApplyFile" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">来文时间(必填)</label>
            <div class="layui-input-inline">
                <input type="tel" name="APPLY_TIME" value='@Model.APPLY_TIME.ToString("yyyy-MM-dd")' id="APPLY_TIME" lay-verify="required |ApplyTime" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">是否为年度用编</label>
            <div class="layui-input-inline">
                @{
                    Dictionary<int, string> dic = new Dictionary<int, string>();
                    dic.Add(0, "否");
                    dic.Add(1, "是");
                }
                <select name="IS_YEAR" lay-verify="required">
                    @foreach (var item in dic)
                    {
                        if (Model.IS_YEAR == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">人员来源</label>
            <div class="layui-input-inline">
                @{
                    Dictionary<int, string> dics = new Dictionary<int, string>();
                    dics.Add(2, "市本级");
                    dics.Add(1, "县（市、区）");
                    dics.Add(0, "其他");
                }
                <select name="IS_YEAR" lay-verify="required">
                    @foreach (var item in dics)
                    {
                        if (Model.PERSONNER_SOURCE == item.Key)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-inline">
                <input type="tel" name="ACCOUNT_PEOPLE" value="@Model.ACCOUNT_PEOPLE" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-inline">
                <input type="tel" name="ACCOUNT_PHONE" value="@Model.ACCOUNT_PHONE" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>申报编制明细</legend>
    </fieldset>
    <div class="layui-form-item">
        <table class="layui-table" lay-even style="margin:0 auto">
            <colgroup>
                <col width="200">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
                <tr>
                    <th>用编类型</th>
                    <th>编制用途</th>
                    <th>编制详细用途</th>
                    <th>申报数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="AsApplyDetail"></tbody>
        </table>
    </div>
</form>
<div class="form-bottom-submit" style="text-align:center;">
    <input type="hidden" id="msg" value="@ViewBag.Message" />
    <div class="layui-inline">
        <button type="button" class="layui-btn" onclick="save();">确定</button>
        <button type="reset" class="layui-btn layui-btn-primary" onclick="CloseForm();">关闭</button>
    </div>
</div>
<script src="~/Views/AjtmAsApply/JS/Edit.js?v=20210210"></script>
